.lab-report {
    position: relative;
    max-height: 100%;

    background-color: #fff;
    color: #072635;
    border-radius: 16px;
    
    padding: 20px;
    margin: 0 20px 20px  ;
    
    font-size: 14px;
    font-weight: normal;
    
}

.lab-container {
    padding: 0 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.lab-container::-webkit-scrollbar {
    width: 6px;
}

.lab-container::-webkit-scrollbar-track {
    background: #E3E4E6;
    border-radius: 10px;
}

.lab-container::-webkit-scrollbar-thumb {
    background: #072635;
    border-radius: 10px;
}

.content {
    padding: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
