body{
  margin: 0;
  background-color: #F6F7F8;
  padding: 20px;

}
h1{
   font-size: 24px;
   font-weight: 800;
   margin-bottom: 20px;
}
img{
    cursor: pointer;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-areas:
      "header header header"
      "left-sidebar main right-sidebar"
      "left-sidebar main bottom-right-sidebar";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  box-sizing: border-box;
}
.navbar {
  grid-area: header;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;

}

.right-sidebar {
  grid-area: right-sidebar;
}

.bottom-content {
  grid-area: bottom-content;
  
}
.bottom-right-sidebar {
  grid-area: bottom-right-sidebar;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .grid-container {
      grid-template-areas:
          "header"
          "main"
          "left-sidebar"
          "right-sidebar"
          "bottom-content"
          "bottom-right-sidebar";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto auto auto;
  }
}

@media (max-width: 480px) {
  .grid-container {
      grid-template-areas:
          "header"
          "main"
          "left-sidebar"
          "bottom-content"
          "right-sidebar"
          "bottom-right-sidebar";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto auto auto;
  }
}